@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container .capa {
  background-position: center;
  background-size: cover;
  border-bottom: solid 5px #004AAD;
}
.container .capa .filtro {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4235294118);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.container .capa .filtro .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.container .capa .filtro .header #logo {
  width: 150px;
}
.container .capa .filtro .header .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 3px;
}
.container .capa .filtro .header .menu a {
  width: 25%;
}
.container h1 {
  font-family: "Cabin", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #004AAD;
  text-align: center;
}
.container h2 {
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #004AAD;
  text-align: center;
  text-shadow: 3px 3px 5px #ffffff;
}
.container p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.container a {
  text-align: center;
  text-decoration: none;
  border: solid 2px #004AAD;
  border-radius: 4px;
  padding: 10px 5px;
  transition: 0.2s;
  font-family: arial;
  font-size: 0.8rem;
  font-weight: bold;
  color: #004AAD;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container a:hover {
  background-color: #004AAD;
  color: #ffffff;
}
.container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0;
}
.container main p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.container .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: solid 5px #004AAD;
}
.container .footer .marca {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  opacity: 0.5;
}
.container .footer .marca #copyright {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  font-weight: 0;
  color: #004AAD;
  text-align: center;
}
.container .footer .marca #sublogo {
  height: 50px;
}

@media screen and (min-width: 750px) {
  .container .capa {
    border: none;
  }
  .container .capa .filtro {
    padding: 15px 15px 0 0;
  }
  .container .capa .filtro .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  .container .capa .filtro .header #logo {
    width: 125px;
  }
  .container .capa .filtro .header .menu {
    width: 50%;
    border-bottom: solid 3px #004AAD;
    background-color: rgba(255, 255, 255, 0.6117647059);
    border-radius: 10px 10px 0 0;
  }
  .container .capa .filtro .header .menu a {
    width: 25%;
    border: none;
    font-size: 1rem;
    padding: 5px 0 3px;
    border-radius: 10px 10px 0 0;
  }
  .container .capa .filtro h1,
  .container .capa .filtro #slogan {
    font-family: "Cabin", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #004AAD;
    text-align: left;
    padding: 20px;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.6117647059);
    border-radius: 25px 25px 0 0;
  }
}
.home {
  background-image: url(../assets/back-home.jpg);
}

#slogan {
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #004AAD;
  text-align: center;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.apresentacao img {
  width: 250px;
}
.apresentacao .texto-apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.orientacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
}
.orientacao .bloco-estrategia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.orientacao .estrategia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-image: linear-gradient(50deg, #004AAD 60%, #ffffff);
  box-shadow: 1px 2px 3px;
  border-radius: 15px;
  height: 350px;
  width: 260px;
  transition: 0.6s;
}
.orientacao .estrategia .icones {
  height: 100px;
}
.orientacao .estrategia h3 {
  font-family: "Cabin", sans-serif;
  font-size: 1.2rem;
  font-weight: none;
  color: #ffffff;
  text-align: center;
}
.orientacao .estrategia p, .orientacao .estrategia ul {
  width: 90%;
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  font-weight: 0;
  color: #ffffff;
  text-align: center;
}
.orientacao .estrategia p li, .orientacao .estrategia ul li {
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  list-style: none;
}
.orientacao .estrategia:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 750px) {
  .apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px 50px;
  }
  .apresentacao img {
    width: 45%;
  }
  .apresentacao .texto-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 20px;
    width: 80%;
    border-left: solid 5px #004AAD;
  }
  .apresentacao .texto-apresentacao p {
    text-align: left;
  }
  .orientacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-image: url(../assets/back-div-03.jpg);
    background-size: cover;
    background-position: center;
  }
  .orientacao .bloco-estrategia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
  }
}
.sobre {
  background-image: url(../assets/back-sobre.jpg);
}

.sobre-nos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.sobre-nos img {
  width: 250px;
}

.experiencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
  background-image: url(../assets/back-experiencia.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 15px;
}
.experiencia .motivos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.experiencia .motivos .motivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 190px;
  height: 200px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6156862745);
}
.experiencia .motivos .motivo img {
  width: 80px;
}
.experiencia .motivos .motivo p {
  width: 80%;
}

.servicos {
  background-image: url(../assets/back-serviços.jpg);
}

.texto-servico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 15px;
}
.texto-servico img {
  width: 180px;
}

.nossos-servicos {
  width: 100%;
  background-color: #004AAD;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 15px;
}
.nossos-servicos h2 {
  color: #ffffff;
  text-shadow: none;
}
.nossos-servicos ul {
  padding: 5px;
}
.nossos-servicos ul li {
  list-style: none;
  margin: 5px 0;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.nossos-servicos .mais-servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 1px 1px 5px;
}

.contato {
  background-image: url(../assets/back-contato.jpg);
}

.texto-contato {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.texto-contato img {
  width: 200px;
}

.info-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 15px;
}
.info-contato ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  padding: 10px;
}
.info-contato ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
.info-contato ul li img {
  width: 30px;
}

.mensagem {
  background-image: linear-gradient(180deg, #004AAD, #ffffff);
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
}
.mensagem h2 {
  text-shadow: none;
  color: #ffffff;
}
.mensagem form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 5px;
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}
.mensagem form label {
  text-shadow: 1px 1px 1px #004AAD;
}
.mensagem form input, .mensagem form textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: solid 2px #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #004AAD;
  text-align: left;
}
.mensagem form input:focus, .mensagem form textarea:focus {
  border: solid 2px #004AAD;
}
.mensagem form input::placeholder, .mensagem form textarea::placeholder {
  color: #8fbefc;
  font-weight: none;
}
.mensagem form button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: solid 2px #004AAD;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #004AAD;
  text-align: center;
  transition: 0.4s;
}
.mensagem form button:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #004AAD;
}

/*# sourceMappingURL=style.css.map */
