.contato{
    background-image: url(../assets/back-contato.jpg);
}

.texto-contato{
    padding:  0 15px;
    width: 90%;

    @include display-flex(flex, column, center, center, 0);
    
    img{
        width: 200px;
    }
}

.info-contato{
    @include display-flex(flex, column, center, center, 0);
    padding: 15px;

    ul{
        @include display-flex(flex, column, center, start, 5px);
        padding: 10px;

        li{
            list-style: none;
            @include display-flex(flex, row, center, center, 10px);
            
            @include texto-padrao ($fonte-principal, 0.9rem, bold, $cor-escura, left);
            img{
                width: 30px;
            }

        }
    }
}

.mensagem{
    background-image: linear-gradient(180deg, $cor-principal ,$cor-clara);
    border-radius: 15px 15px 0 0;
    @include display-flex(flex, column, center, center, 15px);
    padding: 15px;
    width: 100%;

    h2{
        text-shadow: none;
        color: $cor-clara
    }

    form{
        @include display-flex(flex, column, center, left, 5px);
        @include texto-padrao ($fonte-principal, 0.9rem, bold, $cor-clara, left);

        label{
            text-shadow: 1px 1px 1px $cor-principal;
        }

        input, textarea{
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            outline: none;
            border: solid 2px $cor-clara;
            @include texto-padrao ($fonte-principal, 0.9rem, bold, $cor-principal, left);

            &:focus{
                border: solid 2px $cor-principal;
            }

            &::placeholder{
                color: $cor-auxiliar;
                font-weight: none;
            }
        }

        button{
            padding: 10px;
            margin:  10px 0;
            border-radius: 5px;
            border: solid 2px $cor-principal;
            background-color: #ffffff00;
            @include texto-padrao ($fonte-principal, 0.9rem, bold, $cor-principal, center);
            transition: .4s;


           &:hover{
            color:$cor-clara;
            cursor: pointer;
            background-color: $cor-principal;


           }
        }
    }
}

@media screen and (min-width:700px){



    .texto-contato{
        @include display-flex(flex, row, center, center, 0);
        padding: 20px 50px;
        border-bottom: solid 5px $cor-principal;
        border-radius: 15px;
        width: 80%;

    
        

        img{
            width: 30%;
            padding: 15px;
            background-color: $cor-clara;
            border-radius: 15px;
        }

        p{
            background-color: $cor-clara;
            width: 600px; 
            padding: 20px;
           border-radius: 15px;
           box-shadow: 2px 2px 15px $cor-principal;
        }
    }

    form{
        width: 500px;
    }
}