
.sobre{
    background-image: url(../assets/back-sobre.jpg);
}

.sobre-nos{
    @include display-flex(flex, column, center, center, 10px);
    padding: 15px;
    img{
        width: 250px;
        
    }
}

.experiencia{
    @include display-flex(flex, column, center, center, 30px);
    width: 100vw;
    background-image: url(../assets/back-experiencia.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 15px;


    .motivos{
        @include display-flex(flex, row, center, center, 10px);
        flex-wrap: wrap;

        .motivo{
            @include display-flex(flex, column, center, center, 10px);
            width: 190px;
            height: 200px;
            border-radius: 20px;
            background-color: #ffffff9d;
            transition: .4s;

            img{
                width: 80px;
            }

            p{
                width: 80%;
            }

            &:hover{
                background-color: $cor-clara;
        
            }
            
        }
    }
}

@media screen and (min-width: 750px){

    .sobre-nos{
        @include display-flex(flex, row, center, center, 10px);
        padding: 25px 50px;
        img{
            width: 45%;
        }

        .texto-sobre{
            @include display-flex(flex, column, center, center, 10px);
            max-width: 800px;
            
        }
    }

}