*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin texto-padrao($font-family, $font-size, $font-weigth, $color, $text-align){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weigth;
    color: $color;
    text-align: $text-align;
}

@mixin display-flex($display, $flex-direction, $justfy-content, $align-items, $gap){
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justfy-content;
    align-items: $align-items;
    gap: $gap;
}

.container{

    display: flex;
    flex-direction: column;


    .capa{
        background-position: center;
        background-size: cover;
        border-bottom: solid 5px $cor-principal;
       
    .filtro{
        width: 100%;
        height: 100%;
        background-color: #ffffff94;
        @include display-flex(flex, column, center, center, 10px);
        padding: 15px;

        .header{
            @include display-flex(flex, column, center, center, 10px);
        
            
    
            #logo{
                width: 150px;
            
            }
    
            .menu{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0 3px;
            }

           
    
        }
        
    }

   

}

h1{
    @include texto-padrao($fonte-principal, 1.8rem , bolde, $cor-principal, center);
}

h2{
    @include texto-padrao($fonte-principal, 1.5rem , bold, $cor-principal, center);
    text-shadow: 2px 2px 3px $cor-clara;
}

p{
    @include texto-padrao ($fonte-principal, 1rem, bold, $cor-escura, center);
}

a{
    text-align: center;
    text-decoration: none;
    border: solid 1px $cor-principal;
    border-radius: 4px;
    padding: 5px;
    transition: .2s;
    @include texto-padrao (arial,.8rem, bold, $cor-principal, center);

    &:hover{
        background-color: $cor-principal;
        color: $cor-clara;
      
    }
    
}

main{

    @include display-flex(flex, column, center, center, 20px);
    flex: 1 0;



    p{
        @include texto-padrao ($fonte-principal, 1rem, bold, $cor-escura, center);
    }
}


.footer{
    @include display-flex(flex, row, space-evenly, center, 10px);
    padding: 10px;
    border-bottom: solid 5px $cor-principal;

    .marca{
        @include display-flex(flex, row, space-evenly, center, 5px);
        opacity: .5;

    #copyright{
        @include texto-padrao($fonte-principal, 1rem, 0, $cor-principal , center)
    }

    #sublogo{
        height: 50px;
    }
}

}
}